* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato";
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

body {
  height: 100%;
  display: grid;
  grid-template-columns: 256px 1fr;
  background-color: #fafafa;
  height: 100dvh;
}

.square-black {
  width: 30px;
  height: 30px;
  border: none;
  background-color: black;
  border-radius: 4px;
}

.title-box {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
}

.title {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: 12px;
  font-weight: 500;
  color: gray;
  display: flex;
}

.layout-left {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  gap: 24px;
  width: 256px;
  padding: 24px 16px;
}

.box-nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text-principal {
  color: gray;
  font-size: 12px;
  padding: 0px 8px;
}

.categories-panel {
  display: flex;
  flex-direction: column;
  gap: 0.5px;
}

.square {
  border: none;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: #939393;
}

.buttons-principal {
  padding: 8px;
  font-size: 14px;
  gap: 8px;
  display: flex;
  border: none;
  width: 240px;
  height: 32px;
  background-color: transparent;
  cursor: pointer;
}

.layout-right {
  padding: 16px 16px 16px 0px;
  background-color: #fafafa;
}

.layout-int {
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);

  width: 100%;
  height: 100%;
}

.create-product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-product-title {
  font-size: 30px;
  font-weight: 700px;
}

.product-container {
  display: grid;
  gap: 24px;
  padding: 24px;
}

.create-product-paragraph {
  color: #71717a;
  font-size: 16px;
}

.list-product-paragraph {
  color: #71717a;
  font-size: 14px;
}

.create-product {
  background-color: black;
  color: #fafafa;
  height: 40px;
  padding: 12px 16px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.list-product {
  display: grid;
  gap: 20px;
  padding: 24px;
  width: 100%;
  border: 1px solid #e4e4e7;
  border-radius: 6px;
}

.product-inputs {
  display: flex;
  gap: 10px;
}

.input-style {
  border: none;
  outline: none;
}

.field {
  display: flex;
  border: 1px solid #e4e4e7;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  padding: 10px;
}

.field-2 {
  display: flex;
  border: 1px solid #e4e4e7;
  align-items: center;
  gap: 8px;
  width: 200px;
  height: 40px;
  border-radius: 6px;
  padding: 10px;
}

.img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #eee;
}

.category-chips {
  display: flex;
}

.icon {
  background-color: #f4f4f5;
  border: none;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
}

.table {
  overflow-x: scroll;
  border: 1px solid #e4e4e7;
  border-radius: 8px;
}

.table-head,
.table-body {
  min-width: fit-content;
}

.table-head-row,
.table-body-row {
  display: grid;
  grid-template-columns: 80px 1fr 1fr 1fr 1fr 120px;
  min-height: 48px;
  width: 100%;
  border-bottom: 1px solid #e4e4e7;
  align-items: center;
}

.table-head-cell,
.table-body-cell {
  min-width: 100px;
  width: 100%;
  padding: 12px 16px;
}

.table-head-cell-label {
  font-size: 14px;
  color: #71717a;
  font-weight: 500;
}

.table-body-cell-image-container {
  width: 48px;
  height: 48px;
  border-radius: 6px;
  border: 1px solid #e4e4e7;
  padding: 2px;
}

.table-body-cell-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.table-body-cell-name,
.table-head-cell-name {
  min-width: 200px;
}

.table-body-cell-category,
.table-head-cell-category {
  min-width: 220px;
}

.chip {
  padding: 2px 10px;
  background-color: #f4f4f5;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.category-chips {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.table-head-action {
  text-align: right;
}

.table-body-cell-action {
  display: flex;
  justify-content: end;
  gap: 8px;
}

.icon {
  border: 1px solid #e4e4e7;
  background-color: white;
  border-radius: 6px;
  width: 34px;
  height: 34px;
  text-align: center;
}

.table-body-cell-image,
.table-head-cell-image {
  min-width: 80px;
  max-width: 100px;
}

.layout-header {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  justify-content: space-between;
  border-bottom: 1px solid #e4e4e7;
}

.square-header {
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgb(83, 83, 83);
  border-radius: 4px;
}

.modal-overlay {
  width: 100dvw;
  height: 100dvh;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding: 24px;
  width: 600px;
}

.create-product-form {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.product-information {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.create-modal-input {
  display: flex;
  gap: 10px;
}

.modal-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-input-field {
  font-weight: 500;
  font-size: 15px;
}

.modal-input-code {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name-input,
.mark-input {
  height: 35px;
  border-radius: 6px;
  border: 1px solid #e4e4e7;
}

.code-input {
  border-radius: 6px;
  border: 1px solid #e4e4e7;
  height: 35px;
}

.new-product-title {
  font-size: 18px;
}

.product-text {
  color: #71717a;
  font-weight: 500;
  font-size: 14px;
}

.add-category {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
}

.hidden-modal {
  position: relative;
  display: flex;
  background-color: white;
  border-radius: 8px;
}

.add-category-button {
  border: 1px solid #e4e4e7;
  width: 170px;
  height: 40px;
  border-radius: 6px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
}

.add-image-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.delete-image {
  display: flex;
  gap: 10px;
  align-items: center;
}

.url-input {
  width: 100%;
  height: 40px;
  border: 1px solid #e4e4e7;
  border-radius: 6px;
  padding-left: 10px;
}

.delete-button {
  border: 1px solid #e4e4e7;
  background-color: white;
  border-radius: 6px;
  width: 50px;
  height: 41px;
  text-align: center;
}

.add-image-button {
  display: flex;
  border: 1px solid #e4e4e7;
  width: 170px;
  height: 40px;
  border-radius: 6px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
}

.additional-information-container {
  display: flex;
  gap: 10px;
}

.additional-information {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-code-input {
  height: 35px;
  border-radius: 6px;
  border: 1px solid #e4e4e7;
}

.information-input {
  height: 70px;
  border-radius: 6px;
  border: 1px solid #e4e4e7;
}

.cancel-create-buttons {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.cancel-button {
  border: 1px solid #e4e4e7;
  border-radius: 8px;
  width: 90px;
  height: 35px;
  font-weight: 500;
  font-size: 15px;
}

.create-button {
  background-color: black;
  color: white;
  border-radius: 8px;
  width: 130px;
  height: 35px;
}

.close-button {
  position: absolute;
  display: flex;
  justify-content: end;
  top: 15px;
  right: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
}

.close-button:hover {
  color: black;
}

.modal-overlay-2 {
  width: 100dvw;
  height: 100dvh;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden-modal-2 {
  display: flex;
  background-color: white;
  border-radius: 8px;
}

.modal-content-2 {
  padding: 24px;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.modal-content-2-buttons {
  display: flex;
  gap: 8px;
  justify-content: end;
}

.cancel-button-2 {
  border: 1px solid #e4e4e7;
  border-radius: 6px;
  width: 95px;
  height: 38px;
  font-weight: 500;
  font-size: 15px;
}

.eliminate-button {
  background-color: red;
  color: white;
  border-radius: 6px;
  width: 90px;
  height: 38px;
}

.confirmation-title {
  font-size: 19px;
}

.eliminate-product-text {
  color: #71717a;
  font-weight: 500;
  font-size: 15px;
}
